<Context>
    <Resource
        name="jdbc/YourDataSource"
        auth="Container"
        type="javax.sql.DataSource"
        driverClassName="com.mysql.cj.jdbc.Driver"
        url="jdbc:mysql://localhost:3306/bus_reservation"
        username="root"
        password="kim123456"
        maxTotal="20"
        maxIdle="10"
        maxWaitMillis="10000"/>
</Context>